@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
	font-family: "poppins";
}

.main {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #9966cc;
}

.heading {
	font-size: 2.8rem;
	color: rgb(255, 236, 211);
	letter-spacing: 0.2rem;
	position: absolute;
	top: 0;
	left: 0;
	right: 0%;
	padding: 1rem 0;
	text-align: center;
	background-color: rebeccapurple;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.input {
	height: 3rem;
	width: 30rem;
	border: none;
	background-color: rgb(255, 236, 211);
	font-size: 1.1rem;
	padding-left: 2rem;
	border-radius: 2rem 0 0 2rem;
}

.button {
	height: 3rem;
	width: 6rem;
	border: none;
	font-size: 1.1rem;
	color: rgb(255, 236, 211);
	background-color: rgb(114, 13, 93);
	border-radius: 0 2rem 2rem 0;
}

.result {
	display: flex;
	margin-top: 1rem;
	gap: 2rem;
}

.shortened-link {
	color: white;
	font-size: 1.2rem;
}

.copy-button {
	height: 2rem;
	width: 6rem;
	font-size: 1rem;
	border: none;
	border-radius: 2rem;
	color: rgb(114, 13, 93);
	background-color: rgb(255, 236, 211);
}

.copy-button:hover {
	cursor: pointer;
}

.button:hover {
	cursor: pointer;
}
